<a href="https://colab.research.google.com/github/andycruz22/InteligenciaArtificial/blob/main/Lunes%2010%20de%20Junio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sys
print(sys.version)

3.10.12 (main, Nov 20 2023, 15:14:05) [GCC 11.4.0]

In [ ]:
myNumber=3
myNumberDecimal=3.6
state=True

In [ ]:
print(f'valor entero= {myNumber}')
print(f'valor decimal= {myNumberDecimal}')
print(f'valor booleano es= {state}')

valor entero= 3
valor decimal= 3.6
valor booleano es= True

In [ ]:
aux1=10
aux2=2

print('La suna de las variables aux1 + aux2 =',aux1+aux2)

La suna de las variables aux1 + aux2 = 12

In [ ]:
temp= aux1**aux2

print(f'El resultado de 10^25={temp}')

El resultado de 10^25=100

In [ ]:
var1='Hola!'
var2='  Andy'
print(var1+var2)

Hola!  Andy

In [ ]:
print(3*var1)

Hola!Hola!Hola!

In [ ]:
num1 = 10
num2 = 10.5

In [ ]:
print('El tipo de numero es: ',type(num1))
print('El tipo de numero es: ',type(num2))

El tipo de numero es:  <class 'int'>
El tipo de numero es:  <class 'float'>